@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/gotham/Gotham-Light.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/gotham/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/gotham/Gotham-Medium.otf') format('opentype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/gotham/GOTHAM-BOLD.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/src/fonts/gotham/Gotham-MediumItalic.otf') format('opentype');
  font-weight: 500; 
  font-style: italic;
}

